/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #2e363e;
}

.blur-text {
  animation: blurFadeInOut 3.5s ease-in-out infinite;
}

.blur-text-lento {
  animation: blurFadeInOut s ease-in-out infinite;
}

.text {
  font-size: 2em;
  color: #b4c6d9;
}

#felicidades {
  display: none;
  background-image: url(./assets/fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 4s ease; /* Duración del efecto de oscurecimiento */
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
}

#starwars-intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  perspective: 400px;
  display: none; /* Inicialmente oculto */
  z-index: 11;
  perspective: 800px; /* Ajusta este valor según necesites */
}

#starwars-text {
  font-family: 'News Cycle', sans-serif;
  transform-origin: 50% 100%;
  animation: scroll-text 400s linear infinite;
  color: yellow;
  text-align: justify;
  font-size: 30px;
  white-space: pre; /* Mantiene los saltos de línea y espacios */
  width: 80vw;
  margin: 0 auto;  
  transform: translateZ(.1500px);
}

#felicidades {
  animation: blurFadeIn 4s ease-in-out;
  z-index: 15;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  background-color: #757575; /* Gris base */
  border: none;
  border-radius: 5px; /* Esquinas redondeadas, pero con un aspecto más cuadrado */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  outline: none; /* Quita el contorno que aparece al hacer click */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #9c27b0; /* Morado al hacer hover */
  box-shadow: 3px 3px 12px rgba(156, 39, 176, 0.4);
}

button:active {
  background-color: #7b1fa2; /* Un tono de morado más oscuro al hacer click */
  box-shadow: 1px 1px 5px rgba(123, 31, 162, 0.4);
}

@keyframes scroll-text {
  from {
      transform: rotateX(25deg) translateY(28%) translateZ(1700px)
  }
  to {
      transform: rotateX(25deg) translateY(-300%) translateZ(1700px);
  }
}

@keyframes blurFadeInOut {
  0%, 100% { opacity: 0; filter: blur(8px); }
  50% { opacity: 1; filter: blur(0px); }
}

@keyframes blurFadeInOut {
  0%, 100% { opacity: 0; text-shadow: 0px 0px 40px rgba(52, 73, 94, 0.7); }
  50% { opacity: 1; text-shadow: none; }
}

@keyframes blurFadeIn {
  0% { opacity: 0; text-shadow: 0px 0px 40px rgba(52, 73, 94, 0.7); }
  100% { opacity: 1; text-shadow: none; }
}

.hidden {
  display: none;
}

/* Añade aquí más estilos para decorar tu página */
